
---
import '../styles/global.css'

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { 
  title = "San Productions — Productora audiovisual", 
  description = "Productora boutique basada en la narrativa visual y la estética minimalista. Especializados en cine, comerciales y videoclips.",
  image = "/og-image.jpg" // Una imagen de 1200x630px que represente a la productora
} = Astro.props;

const canonicalURL = Astro.url;

const repositoryName = "/ss-portfolio"

---

<!doctype html>
<html lang="es">
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="canonical" href={canonicalURL} />

    <title>{title}</title>
    <meta name="title" content={title} /> 
    <meta name="description" content={description} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Playfair+Display:italic,wght@400;700&display=swap" rel="stylesheet">
  </head>
	<body class="bg-[#fcfcfc] text-[#1a1a1a] antialiased selection:bg-black selection:text-white">
		
		<nav class="fixed top-0 w-full z-50 bg-white/90 backdrop-blur-md px-6 md:px-20 py-6 md:py-10 flex justify-between items-center md:items-start uppercase tracking-widest text-[10px] font-bold border-b border-zinc-100 md:border-none">
  
      <a href="/" class="hover:opacity-50 transition-opacity text-base md:text-xl font-extrabold tracking-tighter">
        San Productions
      </a>

      <div class="flex gap-4 md:gap-8 items-center">
        <a href={`/${repositoryName}`} class="hover:opacity-50 transition-opacity py-2">Trabajos</a>
        <a href={`/${repositoryName}/about`} class="hover:opacity-50 transition-opacity py-2">Nosotros</a>
      </div> 

    </nav>

		<main>
			<slot />
		</main>

		<footer class="px-8 py-20 text-[10px] uppercase tracking-[0.2em]">
			<div class="flex justify-between border-t border-gray-100 pt-8">
				<p>Available for projects 2024</p>
				<p>© {new Date().getFullYear()}</p>
			</div>
		</footer>

	</body>
</html>

<style is:global>
	body {
		font-family: 'Inter', sans-serif;
	}
</style>